   <% page_articles.each_with_index do |article, i| %>
   <div class="portfolio-modal modal fade" id="portfolioModal<%= article.data.id %>" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2><%= article.data.title %></h2>
                                
                                <img class="img-responsive img-centered" src="img/portfolio/<%= article.data.image %>" alt="">

                                <ul class="list-inline">
                                    
                                    <li>Client: <a href="<%= article.data.clienturl %>"><%= article.data.client %></a></li>
                                    <li>Category: <%= article.data.category %></li>
                                </ul>
                                    <%= article.body %>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% end %>